<h1>New Exam</h1>

<% @randomized_questions.each do |question| %>
  <h3><%=question%></h3>
  <div><%=image_tag(question.to_s+'.jpg')%></div>	  
  <div><a href="<%=image_url(question.to_s+'b.jpg')%>" target="popup" onclick="window.open('<%=image_url(question.to_s+'b.jpg')%>','popup','width=450,height=273'); return false;">Reveal answer!</a></div>
  
<% end %>

<%= render 'form', exam: @exam %>

<%= link_to 'Back', exams_path %>
